.row {
    text-align: center;
}

.container {
    column-count: 2;
    column-gap: 20px;
    column-rule-style: solid;
    column-width: 100px;
}

.col-left {
    text-align: center;
}

.col-right {
    text-align: center;
}